@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Job Application Tracker!</h1>
    <br>
    <br>
    <br>
    <h2>Select the drop down from the top right corner to get started.</h2>
    
</div>
